<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded">
        <mat-nav-list>

            <mat-list-item (click)="isExpanded = !isExpanded">
                <mat-icon mat-list-icon class="chevron-button " [ngClass]="{ rotated: isExpanded }">chevron_right
                </mat-icon>
            </mat-list-item>

            <mat-list-item [routerLink]="'home'">
                <mat-icon mat-list-icon matTooltip="Dashboard" class="menu-item">home</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
            </mat-list-item>

            <mat-list-item [routerLink]="''">
                <mat-icon mat-list-ico class="menu-item" n>important_devices</mat-icon>&nbsp;
                <span *ngIf="isExpanded" class="menu-item">Info</span>
            </mat-list-item>

            <mat-list-item [routerLink]="''">
                <mat-icon mat-list-icon class="menu-item">supervisor_account</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">User</span>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <h1>Side Nav</h1>
                <span class="example-spacer"></span>
                   <div class="dropdown">
                    <button type="button" mat-button color="accent" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        <img [src]="userDisplayphoto" height="30px" width="30px" class="rounded-pill">&nbsp;
                        <span>{{userDisplayName}}</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a (click)="logout()">Logout</a></li>
                      <li><a>Logout</a></li>
                      <li><a>Logout</a></li>
                      
                    </ul>
                  </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
<app-footer></app-footer>