<div class="container">
    <h2 class="dashborad">Dashborad >></h2>

    <div class="container width-dividing mt-3">
        <div class="card card1">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h3 style="margin-bottom: 0px;">2050</h3>
                        <p>Total Orders</p>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                          </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card2">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h3 style="margin-bottom: 0px;">3250</h3>
                        <p>Total Expenses</p>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm-3">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                          </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h3 style="margin-bottom: 0px;">87.5%</h3>
                        <p>Total Revenue</p>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pie-chart-fill" viewBox="0 0 16 16">
                            <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
                          </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h3 style="margin-bottom: 0px;">2500</h3>
                        <p>Total Users</p>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                          </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>